<!--start wrapper-->
<div class="wrapper text-center">

    <!--start content-->
    <main class="authentication-content">
        <div class="container-fluid">
            <div class="authentication-card">
                <div class="card shadow rounded-5 overflow-hidden">
                    <div class="row g-0">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center border-end">
                            <img src="https://img.freepik.com/free-vector/secure-data-concept-illustration_114360-2510.jpg?w=740&t=st=1662791352~exp=1662791952~hmac=d90f717a99823008ce52a92f59fc382488f46baa82e2bfb150908a693efadd4b"
                                class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body p-4 p-sm-5">
                                <form class="form-body">
                                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)"
                                        novalidate>
                                        <div class="row g-3">
                                            <h4 class="card-title text-center">Đặt lại mật khẩu</h4>
                                            <div class="col-12">

                                                <div class="ms-auto position-relative">
                                                    <label for="reNewPassword" class="form-label">Mật khẩu cũ</label>
                                                    <div
                                                        class="position-absolute top-50 translate-middle-y search-icon px-3">
                                                        <i class="bi bi-lock-fill"></i>
                                                    </div>
                                                    <input type="password" class="form-control radius-30 ps-5"
                                                        id="oldPassword" placeholder="Mật khẩu cũ" formControlName = "oldPassword">
                                                    
                                                    <div class="text-danger text-center invalid-feedback d-block "
                                                        *ngIf="!resetPasswordForm.controls.oldPassword?.valid && (resetPasswordForm.controls.oldPassword?.dirty || resetPasswordForm.controls.oldPassword?.touched)">


                                                        <span
                                                            [hidden]="!resetPasswordForm.controls.oldPassword.errors?.['required']">
                                                            Mật khẩu cũ không được để trống!
                                                        </span>

                                                        <span
                                                            [hidden]="!resetPasswordForm.controls.oldPassword.errors?.['minlength']">
                                                            Mật khẩu cũ phải có ít nhất 6 ký tự!
                                                        </span>
                                                    </div>
                                                    <div class="text-danger text-center invalid-feedback d-block"
                                                        *ngIf="status === false">

                                                        <span>
                                                            Mật khẩu cũ không đúng!
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">

                                                <div class="ms-auto position-relative">
                                                    <label for="reNewPassword" class="form-label">Mật Khẩu Mới</label>
                                                    <div
                                                        class="position-absolute top-50 translate-middle-y search-icon px-3">
                                                        <i class="bi bi-lock-fill"></i>
                                                    </div>
                                                    <input type="password" class="form-control radius-30 ps-5"
                                                        id="newPassword" placeholder="Mật khẩu mới" formControlName= "newPassword">
                                                    <div class="text-danger text-center invalid-feedback d-block "
                                                        *ngIf="!resetPasswordForm.controls.newPassword?.valid && (resetPasswordForm.controls.newPassword?.dirty || resetPasswordForm.controls.newPassword?.touched)">
                                                        <span
                                                            [hidden]="!resetPasswordForm.controls.newPassword.errors?.['required']">
                                                            Mật khẩu mới không được để trống!
                                                        </span>

                                                        <span
                                                            [hidden]="!resetPasswordForm.controls.newPassword.errors?.['minlength']">
                                                            Mật khẩu mới phải có ít nhất 6 ký tự!
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="reNewPassword" class="form-label">Nhập lại mật khẩu
                                                    mới</label>
                                                <div class="ms-auto position-relative">
                                                    <div
                                                        class="position-absolute top-50 translate-middle-y search-icon px-3">
                                                        <i class="bi bi-lock-fill"></i>
                                                    </div>
                                                    <input type="password" class="form-control radius-30 ps-5"
                                                        id="reNewPassword" placeholder="Nhập lại mật khẩu mới" formControlName = "reNewPassword">
                                                    <div class="text-danger text-center invalid-feedback d-block "
                                                        *ngIf="!resetPasswordForm.controls.reNewPassword?.valid && (resetPasswordForm.controls.reNewPassword?.dirty || resetPasswordForm.controls.reNewPassword?.touched)">


                                                        <span
                                                            [hidden]="!resetPasswordForm.controls.reNewPassword.errors?.['required']">
                                                            Nhập lại mật khẩu
                                                        </span>

                                                        <span
                                                            [hidden]="!resetPasswordForm.controls.reNewPassword.errors?.['minlength']">
                                                            Nhập lại mật khẩu không giống mật khẩu mới!
                                                        </span>
                                                    </div>
                                                    <div class="text-danger text-center invalid-feedback d-block"
                                                        *ngIf="status === false">

                                                        <span>
                                                            Nhập lại mật khẩu không đúng!
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col-12">
                                                <div class="d-grid gap-3">
                                                    <button type="submit" class="btn btn-primary radius-30">Thay đổi mật
                                                        khẩu</button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--end page main-->

</div>

<!--end wrapper-->