<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center">
    <!-- <div class="breadcrumb-title pe-3 text-white">Pages</div> -->
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt text-white"></i></a>
                </li>
                <li class="breadcrumb-item active text-white" aria-current="page">User Profile</li>
            </ol>
        </nav>
    </div>
    <!-- <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-light">Settings</button>
                <button type="button" class="btn btn-light split-bg-light dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> 
                    <a [routerLink]="['/students/profilestudent/resetpassword']">
                        <a class="dropdown-item">Reset Password</a>
                    </a>

                </div>
            </div>
        </div> -->
</div>
<!--end breadcrumb-->

<div class="profile-cover bg-dark"></div>

<div class="row">

    <div class="card shadow-sm border-0 overflow-hidden">
        <div class="card-body">
            <div class="profile-avatar text-center">
                <img src="../../assets/main-files/snacked/ltr/assets/images/avatars/avatar-1.png"
                    class="rounded-circle shadow" width="120" height="120" alt="">
            </div>

        </div>

    </div>


    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-title text-center">
                <h4>THÔNG TIN CÁ NHÂN</h4>

            </div>
            <div class="card-body">
                <div class="horizontal-form-elements">

                    <form class="form-horizontal" [formGroup]="profileForm"
                        (ngSubmit)="UploadProfile(profileForm.value)" novalidate>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Họ Và Tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Họ và Tên"
                                            formControlName="FullName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">CCCD</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" placeholder="Căn cước công dân"
                                            formControlName="CitizenIdentificationNum">
                                    </div>
                                </div>
                            </div>
                            <!-- /# column -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Giới Tính</label>
                                    <div class="col-sm-10">

                                        <select class="form-select" formControlName="Gender">

                                            <option *ngFor="let opt of ngOptionsGender" [value]="opt">
                                                {{opt}}
                                            </option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Ngày Sinh</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" placeholder=""
                                            formControlName="Birthday">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Trường THPT</label>
                                    <div class="row">
                                        <div class="col-sm-3 form-group ">
                                            <label>Tỉnh/Thành phố</label>
                                            <div class="col-sm-10">
                                                <select class="form-select form-select-sm"
                                                    formControlName="provinceTHPT">

                                                    <option *ngFor="let opt of ngOptionsProvinceTHPT" [value]="opt">
                                                        {{opt}}
                                                    </option>

                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-10 form-group">
                                        <label>Tên Trường THPT</label>
                                        <select class="form-select form-select-sm"
                                                    formControlName="HightSchool" placeholder="Tên trường THPT">

                                                    <option *ngFor="let opt of ngOptionsHightSchool" [value]="opt">
                                                        {{opt}}
                                                    </option>

                                                </select>
                                        
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Năm tốt nghiệp</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-select" formControlName="GraduationYear"
                                            placeholder="2023">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Số điện thoại cá
                                        nhân</label>
                                    <div class="col-sm-10">
                                        <input type="phone" class="form-control"
                                            placeholder="SDT cá nhân thường sử dụng" formControlName="Phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Link Facebook</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Link Facebook cá nhân"
                                            formControlName="LinkFacebook">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ngành học</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" formControlName="Majors">
                                            <option *ngFor="let opt of ngOptionsMajors"
                                                [selected]="opt === ngDropdownMajor"> </option>
                                            <!-- <option>Công Nghệ Thông Tin</option>
                                            <option>Quản Trị Kinh Doanh</option>
                                            <option>Thiêt Kế Đồ Họa</option>
                                            <option>Quản Trị Marketing</option>
                                            <option>Quản Trị Sự Kiện</option>
                                            <option>Quản Trị Truyền Thông</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" formControlName="Email"
                                            placeholder="Email cá nhân">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">ĐỊA CHỈ</label>
                                    <div class="row">
                                        <div class="col-sm-3 form-group ">
                                            <label>Tỉnh/Thành phố</label>
                                            <div class="col-sm-10">
                                                <select class="form-select form-select-sm " id="city"
                                                    aria-label=".form-select-sm">
                                                    <option value="" selected>Chọn tỉnh thành</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <label>Quận/Huyện</label>
                                            <select class="form-select form-select-sm " id="district"
                                            aria-label=".form-select-sm">
                                            <option value="" selected>Chọn quận/huyện</option>
                                        </select>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <label>Phường/Xã</label>
                                            <select class="form-select form-select-sm" id="ward"
                                            aria-label=".form-select-sm">
                                            <option value="" selected>Chọn phường/xã</option>
                                        </select>


                                        </div>
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label>Địa chỉ cụ thể (số nhà riêng/thôn/xóm)</label>
                                        <input type="text" placeholder="Ví dụ: Số 5,...."
                                            formControlName="privateAddress" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Người Bảo Hộ 1</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Họ Và Tên Người Bảo Hộ 1"
                                            formControlName="NameSponsor1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Số điên thoại
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="phone" class="form-control" placeholder="Số điên thoại"
                                            formControlName="PhoneNumberSponsor1">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" placeholder="Email"
                                            formControlName="EmailSponsor1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Họ Tên Người Bảo Hộ 2</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Họ và tên người bảo hộ 2"
                                            formControlName="NameSponsor2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Số điên thoại
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="phone" class="form-control" placeholder="Số điên thoại"
                                            formControlName="PhoneNumberSponsor2">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" placeholder="Email"
                                            formControlName="EmailSponsor2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card-title text-center">
                            <h4>HỒ SƠ</h4>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label" for="BangTNTHPT">Bằng tốt
                                        nghiệp
                                        THPT</label>
                                    <div class="col-sm-8 col-lg-10">
                                        <img [src]="images.CertificateOfGraduation" id="imgBangTNTHPT" alt=""
                                            width="100" height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input"
                                                formControlName="CertificateOfGraduation"
                                                placeholder="Bằng tốt nghiệp THPT" id="BangTNTHPT" required>

                                        </div>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm- control-label">Giấy chứng nhận tốt
                                        nghiệp
                                        THPT tạm thời (gốc)</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.TemporaryCertificateOfGraduation" id="imgGCNTNTT" alt=""
                                            width="100" height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input"
                                                formControlName="TemporaryCertificateOfGraduation"
                                                placeholder="Giấy chứng nhận tốt nghiệp THPT" id="GCNTNTT" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Học Bạ THPT (Chứng
                                        thực)</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.StudyRecords" id="imgHBTHPT" alt="" width="100"
                                            height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input" formControlName="StudyRecords"
                                                placeholder="Học bạ THPT" id="HBTHPT" required>

                                        </div>

                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Chứng chỉ tiếng anh
                                        (nếu
                                        có photo và chứng thực)</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.EnglishCertificate" id="imgCCTA" alt="" width="100"
                                            height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input"
                                                formControlName="EnglishCertificate" placeholder="Chứng chỉ tiếng anh"
                                                id="CCTA" required>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Giấy khai sinh</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.BirthCertificate" id="imgGKS" alt="" width="100"
                                            height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input"
                                                formControlName="BirthCertificate" placeholder="Giấy khai sinh" id="GKS"
                                                required>

                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Ảnh Chân dung</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.PortraitImage" id="imgACD" alt="" width="100" height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input" formControlName="PortraitImage"
                                                placeholder="Ảnh Chân dung" id="ACD" required>

                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12 control-label">CMND/CCCD (chứng
                                        thực)</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.CitizenIdentificationIm" id="imgCCCD" alt="" width="100"
                                            height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input" formControlName="CitizenIden"
                                                placeholder="CMND/CCCD" id="CCCD" required>

                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Các chứng chỉ, giấy tờ
                                        khác (nếu có)</label>
                                    <div class="col-sm-12 col-lg-10">
                                        <img [src]="images.OtherPapers" id="imgCCK" alt="" width="100" height="100" />
                                        <br>
                                        <div class="custom-file mb-1">
                                            <input type="file" class="custom-file-input" formControlName="OtherPapers"
                                                placeholder="Các chứng chỉ, giấy tờ khác" id="CCK" required>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row button-infstudent text-center align-content-center ">
                            <div class="col-sm-6 form-group">
                                <br>
                                <button class="btn btn-lg btn-info" type="submit">Xuất file PDF
                                </button>
                            </div>
                            <div class="col-sm-6 form-group">
                                <br>
                                <button class="btn btn-lg btn-info" type="submit">Chỉnh
                                    sửa</button>
                            </div>
                            
                        </div>




                    </form>

                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Id); 
        }
        citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Id === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Id);
                }
            }
        };
        district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Id === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Id);
                }
            }
        };
    }
</script>  -->