<header class="top-header">
    <nav class="navbar navbar-expand gap-3 align-items-center">
        <div class="mobile-toggle-icon fs-3">
            <i class="bi bi-list"></i>
        </div>
        <!-- <form class="searchbar">
            <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i
                    class="bi bi-search"></i></div>
            <input class="form-control" type="text" placeholder="Type here to search">
            <div class="position-absolute top-50 translate-middle-y search-close-icon"><i
                    class="bi bi-x-lg"></i></div>
        </form> -->
        <div class="top-navbar-right ms-auto">
            <ul class="navbar-nav align-items-center">
                <!-- <li class="nav-item search-toggle-icon">
                    <a class="nav-link" href="#">
                        <div class="">
                            <i class="bi bi-search"></i>
                        </div>
                    </a>
                </li> -->

               
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
                        data-bs-toggle="dropdown">
                        <div class="messages">
                            <span class="notify-badge">5</span>
                            <i class="bi bi-chat-right-fill"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end p-0">
                        <div class="p-2 border-bottom m-2">
                            <h5 class="h5 mb-0">Tin nhắn</h5>
                        </div>
                        <div class="header-message-list p-2">
                            <a class="dropdown-item" href="#">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/main-files/snacked/ltr/assets/images/avatars/avatar-1.png"
                                        alt="" class="rounded-circle" width="50" height="50">
                                    <div class="ms-3 flex-grow-1">
                                        <h6 class="mb-0 dropdown-msg-user"> Trần Ngọc Anh <span
                                                class="msg-time float-end text-secondary">1 phút trước</span></h6>
                                        <small
                                            class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center">Chào mừng bạn đến với ...</small>
                                    </div>
                                </div>
                            </a>
                            
                           
                            
                            
                        </div>
                        <div class="p-2">
                            <div>
                                <hr class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#">
                                <div class="text-center">Tất cả tin nhắn</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
                        data-bs-toggle="dropdown">
                        <div class="notifications">
                            <span class="notify-badge">8</span>
                            <i class="bi bi-bell-fill"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end p-0">
                        <div class="p-2 border-bottom m-2">
                            <h5 class="h5 mb-0">Thông báo</h5>
                        </div>
                        <div class="header-notifications-list p-2">


                            <a class="dropdown-item">
                                <a [routerLink]="['/students/profilestudent']">
                                    <div class="d-flex align-items-center">
                                        <div class="notification-box bg-light-success text-success"><i
                                                class="bi bi-file-earmark-bar-graph-fill"></i></div>
                                        <div class="ms-3 flex-grow-1">
                                            <h6 class="mb-0 dropdown-msg-user">Hoàn thiện hồ sơ của bạn<span
                                                    class="msg-time float-end text-secondary">2 tiếng trước</span></h6>
                                            <small
                                                class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center">Hồ
                                                sơ chưa hoàn thiện</small>
                                        </div>
                                    </div>
                                </a>
                            </a>
                            
                            
                            
                            
                           
                           
                            <a class="dropdown-item" href="#">
                                <div class="d-flex align-items-center">
                                    <div class="notification-box bg-light-bronze text-bronze"><i
                                            class="bi bi-briefcase-fill"></i></div>
                                    <div class="ms-3 flex-grow-1">
                                        <h6 class="mb-0 dropdown-msg-user">Tài khoản đã được tạo thành công<span
                                                class="msg-time float-end text-secondary">1 tiếng trước</span></h6>
                                        <small
                                            class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center">Hồ sơ của bạn vừa được tạo</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <div>
                                <hr class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#">
                                <div class="text-center">Tất cả thông báo</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-user-setting">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
                        data-bs-toggle="dropdown">
                        <div class="user-setting d-flex align-items-center">
                            <img src="../assets/main-files/snacked/ltr/assets/images/avatars/avatar-1.png"
                                class="user-img" alt="">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/main-files/snacked/ltr/assets/images/avatars/avatar-1.png"
                                        alt="" class="rounded-circle" width="54" height="54">
                                    <div class="ms-3">
                                        <h6 class="mb-0 dropdown-user-name">Jhon Deo</h6>
                                        <small class="mb-0 dropdown-user-designation text-secondary">Vai Trò</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <a [routerLink]="['/resetpassword']">
                                    <div class="d-flex align-items-center">
                                        <div class=""> <i class="bi bi-gear-fill"></i></div>
                                        <div class="ms-3"><span>Đổi mật khẩu</span></div>
                                    </div>
                                </a>
                            </a>
                        </li>
                        <!-- <li>
                            <a class="dropdown-item" href="index2.html">
                                <div class="d-flex align-items-center">
                                    <div class=""><i class="bi bi-speedometer"></i></div>
                                    <div class="ms-3"><span>Dashboard</span></div>
                                </div>
                            </a>
                        </li> -->


                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <!-- (click)="logout()" -->
                            <a>
                                <div class="d-flex align-items-center">
                                    <div class=""><i class="bi bi-lock-fill"></i></div>
                                    <div class="ms-3"><span>Đăng xuất</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <p class="text-white"> Tinh trang dang nhap: </p>
                            <!-- {{logined()}} -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>