<!-- /# row -->
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center">
    <!-- <div class="breadcrumb-title pe-3 text-white">Pages</div> -->
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt text-white"></i></a>
                </li>
                <li class="breadcrumb-item active text-white" aria-current="page">User Profile</li>
            </ol>
        </nav>
    </div>
    <!-- <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-light">Settings</button>
                <button type="button" class="btn btn-light split-bg-light dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> 
                    <a [routerLink]="['/students/profilestudent/resetpassword']">
                        <a class="dropdown-item">Reset Password</a>
                    </a>

                </div>
            </div>
        </div> -->
</div>
<!--end breadcrumb-->

<div class="profile-cover bg-dark"></div>

<div class="row">

    <div class="card shadow-sm border-0 overflow-hidden">
        <div class="card-body">
            <div class="profile-avatar text-center">
                <img src="../../assets/main-files/snacked/ltr/assets/images/avatars/avatar-1.png"
                    class="rounded-circle shadow" width="120" height="120" alt="">
            </div>

        </div>

    </div>
    <!--  -->
    <div class="col-12 col-lg-4">
        <div class="card shadow-sm border-0 overflow-hidden bg-secondary text-white">

            <div class="card-body">
                <div class=" text-center">
                    <h4 class="mb-1">STATUS</h4>
                </div>
            </div>
            <ul class="list-group list-group-flush text-center">
                <p class="bg-danger text-white">Chưa đầy đủ hồ sơ</p>
                <p class="bg-success text-white">Phí xét tuyển </p>
                <p class="bg-info text-white">Phí giữ chỗ</p>
                <p class="bg-warning text-white">Học bổng</p>
            </ul>
        </div>

        <div class="card shadow-sm border-0 overflow-hidden bg-surface ">
            <div class="card-body">
                <div class=" text-center">
                    <h4 class="mb-1">Tình Trạng Thay Đổi</h4>
                </div>
                <div class="d-flex align-items-center justify-content-around mt-5 gap-3">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" id="check">
                        <label class="form-check-label" for="check"> Thay đổi CCCD - lúc 23:00 giờ, ngày
                            12/03/2022</label>
                    </div>
                </div>
                <div class="row button-infstudent text-center align-content-center ">
                    <div class="col-sm-6 form-group">
                        <br>
                        <button class="btn btn-md btn-danger" type="submit">Xóa Bỏ
                        </button>
                    </div>
                    <div class="col-sm-6 form-group">
                        <br>
                        <button class="btn btn-md btn-info" type="submit">Chấp Thuận</button>
                    </div>
                </div>

            </div>

        </div>



        <div class="card shadow-sm border-0 overflow-hidden  bg-warning">
            <div class="card-body">
                <div class=" text-center">
                    <h4 class="mb-1">Học Bổng</h4>
                </div>
                <div class="d-flex align-items-center justify-content-around mt-5 gap-3">
                    <div class="form-group form-check">

                        <h5 class="form-check-label text-orange" for="check"> Golden Compass</h5>
                    </div>
                </div>
                <div class="row button-infstudent text-center align-content-center ">
                    <div class="col-sm-12 form-group">
                        <br>
                        <button class="btn btn-sm btn-danger" type="submit">Edit
                        </button>
                    </div>

                </div>
                <div class="row button-infstudent text-center align-content-center ">
                    <div class="col-sm-6 form-group">
                        <br>
                        <button class="btn btn-md btn-danger" type="submit">Xóa Bỏ
                        </button>
                    </div>
                    <div class="col-sm-6 form-group">
                        <br>
                        <button class="btn btn-md btn-info" type="submit">Gửi Trưởng Phòng</button>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div class="col-lg-8">
        <div class="card">
            <br>
            <div class="card-title text-center">
                <h4>THÔNG TIN CÁ NHÂN</h4>

            </div>
            <div class="card-body">
                <div class="horizontal-form-elements">
                    <form [formGroup]="profileForm">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Họ Và Tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Họ và Tên"
                                                formControlName="FullName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">CCCD</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" placeholder="Căn cước công dân"
                                                formControlName="CitizenIdentificationNum">
                                        </div>
                                    </div>
                                </div>
                                <!-- /# column -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Giới Tính</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" formControlName="Gender">
                                                <option>Nam</option>
                                                <option>Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Ngày Sinh</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" placeholder=""
                                                formControlName="Birthday">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /# column -->

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Trường THPT</label>
                                        <div class="row">
                                            <div class="col-sm-3 form-group ">
                                                <label>Tỉnh/Thành phố</label>

                                                <input type="text" placeholder="Tỉnh/Thành Phố" class="form-control"
                                                    formControlName="provinceTHPT" required>

                                            </div>
                                            
                                        </div>
                                        <div class="col-sm-10 form-group">
                                            <label>Tên Trường THPT</label>
                                            <input type="text" placeholder="Tên trường THPT" class="form-control"
                                                formControlName="HightSchool" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <br>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Năm tốt nghiệp</label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" formControlName="GraduationYear"
                                                placeholder="2023">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Số điện thoại cá
                                            nhân</label>
                                        <div class="col-sm-10">
                                            <input type="phone" class="form-control"
                                                placeholder="SDT cá nhân thường sử dụng" formControlName="Phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Link Facebook</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Link Facebook cá nhân"
                                                formControlName="LinkFacebook">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ngành học</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" formControlName="Majors">
                                                <option> </option>
                                                <option>Công Nghệ Thông Tin</option>
                                                <option>Quản Trị Kinh Doanh</option>
                                                <option>Thiêt Kế Đồ Họa</option>
                                                <option>Quản Trị Marketing</option>
                                                <option>Quản Trị Sự Kiện</option>
                                                <option>Quản Trị Truyền Thông</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" formControlName="Email"
                                                placeholder="Email cá nhân">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">ĐỊA CHỈ</label>
                                        <div class="row">
                                            <div class="col-sm-3 form-group ">
                                                <label>Tỉnh/Thành phố</label>

                                                <input type="text" placeholder="Tỉnh/Thành Phố" class="form-control"
                                                    formControlName="Province" required>

                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label>Quận/Huyện</label>
                                                <input type="text" placeholder="Quận/Huyện" class="form-control"
                                                    formControlName="District" required>
                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label>Phường/Xã</label>
                                                <input type="text" placeholder="Phường/Xã" class="form-control" required
                                                    formControlName="Commune">
                                            </div>
                                        </div>
                                        <div class="col-sm-10 form-group">
                                            <label>Địa chỉ cụ thể (số nhà riêng/thôn/xóm)</label>
                                            <input type="text" placeholder="Ví dụ: Số 5,...."
                                                formControlName="privateAddress" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Người Bảo Hộ 1</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Họ Và Tên Người Bảo Hộ 1"
                                                formControlName="NameSponsor1">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Số điên thoại
                                            </label>
                                        <div class="col-sm-10">
                                            <input type="phone" class="form-control" placeholder="Số điên thoại"
                                                formControlName="PhoneNumberSponsor1">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" placeholder="Email"
                                                formControlName="EmailSponsor1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Họ Tên Người Bảo Hộ 2</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Họ và tên người bảo hộ 2"
                                                formControlName="NameSponsor2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Số điên thoại
                                            </label>
                                        <div class="col-sm-10">
                                            <input type="phone" class="form-control" placeholder="Số điên thoại"
                                                formControlName="PhoneNumberSponsor2">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" placeholder="Email"
                                                formControlName="EmailSponsor2">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <br>
                            <div class="card-title text-center">
                                <h4>HỒ SƠ</h4>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label" for="BangTNTHPT">Bằng tốt
                                            nghiệp
                                            THPT</label>
                                        <div class="col-sm-8 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgBangTNTHPT" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="CertificateOfGraduation"
                                                    placeholder="Bằng tốt nghiệp THPT" id="BangTNTHPT" required>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm- control-label">Giấy chứng nhận tốt
                                            nghiệp
                                            THPT tạm thời (gốc)</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgGCNTNTT" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="TemporaryCertificateOfGraduation"
                                                    placeholder="Giấy chứng nhận tốt nghiệp THPT" id="GCNTNTT" required>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Học Bạ THPT (Chứng
                                            thực)</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgHBTHPT" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="StudyRecords" placeholder="Học bạ THPT" id="HBTHPT"
                                                    required>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Chứng chỉ tiếng anh
                                            (nếu
                                            có photo và chứng thực)</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgCCTA" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="EnglishCertificate"
                                                    placeholder="Chứng chỉ tiếng anh" id="CCTA" required>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Giấy khai sinh</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgGKS" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="BirthCertificate" placeholder="Giấy khai sinh"
                                                    id="GKS" required>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Ảnh Chân dung</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgACD" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="PortraitImage" placeholder="Ảnh Chân dung" id="ACD"
                                                    required>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">CMND/CCCD (chứng
                                            thực)</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgCCCD" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="CitizenIden" placeholder="CMND/CCCD" id="CCCD"
                                                    required>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Các chứng chỉ, giấy tờ
                                            khác (nếu có)</label>
                                        <div class="col-sm-12 col-lg-10">
                                            <img src="http://placehold.it/100x100" id="imgCCK" alt="" width="100"
                                                height="100" />
                                            <br>
                                            <div class="custom-file mb-1">
                                                <input type="file" class="custom-file-input"
                                                    formControlName="OtherPapers"
                                                    placeholder="Các chứng chỉ, giấy tờ khác" id="CCK" required>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row button-infstudent text-center align-content-center ">
                                <div class="col-sm-6 form-group">
                                    <br>
                                    <button class="btn btn-lg btn-info" type="submit">Xuất file PDF
                                    </button>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <br>
                                    <button class="btn btn-lg btn-info" type="submit">Chỉnh
                                        sửa</button>
                                </div>
                            </div>




                        </form>
                    </form>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>
<!-- /# row -->


<!-- <app-footer-admissions></app-footer-admissions> -->

<!-- </div>
</div> -->