<div class="card-body">

    <div>
        <h3 class="text-success text-center">TẤT CẢ CÁC LOẠI PHÍ</h3>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Tạo phí mới
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Fee name:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Fee type:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Fee type:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="dropdown" id = "drwYearNew">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                          <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                        </ul>
                      </div>

                    <div class="form-check mb-3">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" name="remember"> Đồng ý với các điều khoản
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        <br>
        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>

        <div class = "eachFee">
          <div class = "fee">
            <div class = "btnFee">
              <button type="button" class="btn btn-primary">Edit</button>
              <div style = "width: 10px;"></div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
  
            <div class = "drwYear">           
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-light fa-calendar-days"></i>
                  Year
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let year of ngFilterYear" [value]="year" > {{year }} </li>
                </ul>
            </div>
  
            <div class = "txtFee">
                <p> Tên phí: Phí đăng kí</p>
                <p> Số tiền: 20.000.000 vnd</p>
            </div>
          </div>
        </div>
        
    </div>
  </div>