<div class="card-small">
    <div class="card-title text-center ">
        <div class="row"></div>
        <h4>TÀI KHOẢN SINH TỰ ĐỘNG</h4>
        <h6> SDT: 0326194244 <i class="lni lni-layers"></i></h6>
        <h6>Mật khẩu: 12345678 <i class="lni lni-layers"></i></h6>
        <h6>Link đăng nhập: https://tinyurl.com/5d22xnxs <i class="lni lni-layers"></i></h6>
    </div>
</div>
<br>

<div class="checkbox">
    <label>
        <input type="checkbox"> Agree the terms and policy
    </label>
</div>

<script>
    var x = location.href;
    console.log("x laf: " + x);
    if(x == "http://localhost:4200/admissions/registeraccount/newaccount"){
        document.getElementById("aHtml").style.display = "none";
    }
</script>

